.message-container {
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.retry-btn {
    font-size: 1.2rem;
    font-weight: 800;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.retry-btn:hover {
    font-size: 1.3rem;
    color: blue;
}

.lose-message {
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-name: drop-in;
}

@keyframes drop-in {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}